@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;900&family=Poppins:wght@100;300;400;500;600;700;900&display=swap");

:root {
  --primary: #101029;
  --secondary: #16e01e;
  --yellow: #efb614;
  --primary-text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--primary-text);
  background-color: var(--primary);
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

.main-container {
  height: 100vh;
  border-bottom: 1px solid white;
}

/* HOME  + NAVBAR */
.header-container {
  height: 10vh;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.08);
}

.header {
  height: 100%;
  padding: 0 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1800px;
  position: relative;
  margin: auto;
}

.home-body {
  height: 90vh;
}

nav {
  display: flex;
  align-items: center;
  gap: 3.125rem;
}

nav a {
  text-decoration: none;
  color: var(--primary-text);
}

.connect-btn {
  height: 2rem;
  width: 6.3125rem;
  border-radius: 0.625rem;
  background-color: var(--secondary);
  color: var(--primary-text);
}

/* OUR MISSION */

/* HOW IT WORKS + VIDEO IFRAME */

/* WHY US ? +  SLIDER */

/* SUBSCRIPTION */
