:root{
    --primary:#8E8E8E;
    --secondary:#16E01E;
    --yellow:#EFB614;
    --primary-text:#FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME  + NAVBAR */


/* OUR MISSION */


/* HOW IT WORKS + VIDEO IFRAME */


/* WHY US ? +  SLIDER */


/* SUBSCRIPTION */