@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;900&family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HOME  + NAVBAR */
nav{
    height: 10vh;
    background-color: red;
}

.main-container{
    height: 90vh;
}

/* OUR MISSION */


/* HOW IT WORKS + VIDEO IFRAME */


/* WHY US ? +  SLIDER */


/* SUBSCRIPTION */